.btn {
  border: none;
  outline: none;
  background-color: white;
  color: teal;
}

.btn-small {
  background-color: red;
  color: white;
  padding: 10px 15px;
}

.btn-lg {
  background-color: gold;
  padding: 10px 30px;
}
