.btn {
  border: none;
  outline: none;
  background-color: white;
  color: teal;
  border-radius: 5px;
}

.btn-small {
  background-color: red;
  color: white;
  padding: 10px 15px;
}

.btn-lg {
  background-color: gold;
  padding: 10px 30px;
}

.btn-search {
  background-color: red;
  color: white;
  padding: 15px 40px;
  font-size: 20px;
}
